article section {
    margin-bottom: 1.5em;
	width: 78%;
}

article section img {
    display: block;
    margin: 0.3em;
    margin-left: auto;
    margin-right: auto;
}
/*---------------------------------------------------*/
.sidebox{
	background: url(../images/bg_sidebox.png) no-repeat top;
	padding-top: 20px;
	line-height: 1.2;
}
.sidebox .wrapper{
	background: url(../images/bg_sidebox.png) no-repeat bottom;
	padding: 0 20px 20px 20px;	
}
aside{
	display: block;
	width: 216px;
	float: right;
}
