.tagline
{
    font-size: larger;
}

.stack > div
{
    border: 2px solid #8f5902;
    background-color: #fcaf3e;
    width: 100%;
    min-height: 200px;
    margin-bottom: 1em;
    padding: 1em;
    -moz-box-shadow: 4px 4px 2px #8f5902;
    -webkit-box-shadow: 4px 4px 2px #8f5902;
    box-shadow: 4px 4px 2px #8f5902;
}

.stack div h2
{
    margin-top: 0px;
    padding-top: 0px;
}

.stack ul
{
    padding: 0px;
    margin: 0px;
}

.stack ul li
{
    list-style: none;
    padding: 0px;
    margin: 0px;
    margin-left: 1em;
    margin-bottom: 1em;
    float: left;
    height: 100px;
    width: 300px;
}

.stack ul li .logo
{
    float: left;
    margin-right: 1em;
}

.stack ul li h3
{
    margin: 0px;
    padding: 0px;
}

.tagline strong,
.tagline b,
.stack ul li strong,
.stack ul li b
{
    font-weight: normal;
    color: #8f5902;
}
